@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
:root {
    --primary-color:#9c8df2;
    --darkpastelblue: #8293BF;
    --on-primary: #000;
    --on-background: #fff;
    --orange: #f95c18;
    --purple: purple;
    --on-form:#eeeeff;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%239C92AC' fill-opacity='0.12'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    font-family: "Montserrat", sans-serif;
}

.wrapper{
    background-color:transparent;
    border: 2px solid rgba(0, 0, 0, 0.212);
    padding: 30px 40px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px var(--on-primary);
  }
  
  .wrapper h1{
    font-size: 3rem;
    text-align: center;
  }
  .wrapper .input-box{
    width: 80%;
    height: 50px;
    margin: 30px 0;
    margin-left: auto;
    margin-right: auto;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid var(--on-primary);
    border-radius: 40px;
    padding: 1rem;
  }
  
  .input-box input::placeholder{
    color: var(--on-primary);
    font-weight: bold;
  }
  
  .wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin: -15px 0 15px;
  }
  
  .remember-forgot label input{
    margin-right: 1px;
  }
  .remember-forgot a{
    color: var(--on-primary);
    text-decoration: none;
  }
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  
  .btn-1{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--on-primary);
    border-radius: 40px;
    height: 40px;
    padding-top: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    background: var(--on-primary);
    cursor: pointer;
    color: var(--on-form);
  }
  .wrapper .signup-link{
    font-size: 1.2rem;
    text-align: center;
  
  }
  .signup-link p a{
    color: var(--on-primary);
    text-decoration: none;
    font-size: 600;
  }
  .signup-link p a:hover{
    text-decoration: underline;
  }